// //задаём ширину размеров экрана
// @full-width: 1024px;
// @tablet-width: 980px;
// @phone-width: 640px;
// @small-width: 320px;

// @columCount: 12;
// //only horizontal padding!(пробелы между сеткой макетов разных размеров)
// @full-cell-padding: 15px;
// @tablet-cell-padding: 10px;
// @phone-cell-padding: 5px;

//выносим общие цвета в переменную
// @baseColor: #3e91c9;
// @secondColor: #2e7cb0;
// @activeColor: #d43838;
@whiteColor: #252525;
@activeColor: #ea5a4b;

//fonts(смотрим какие шрифты используются в макете)
// HelveticaNeue Medium
// HelveticaNeue Bold
// Bitter Regular
// Bitter Bold
// 

//подключаем их
@meny-ff: 'HelvetNuel-M';
@contentName-ff: 'Bitter-B';
@content-ff: 'Bitter-R';
@footer-ff: 'HelvetNuel-B';

//fonts-size(смотрим размеры шрифтов)
// large|medium|phone(табличка для разных размеров экрана)
// 60 60 60
// 36 36 36
// 24 24 24
// 18 -> button
// 48 -> header

// 24 24 36 -> title
// 16 16 18 -> subtitle
// 30 30 36 -> price
// 16 18 18 ->content

//подключаем размеры шрифтов
@companyName: 1.5rem;
@menu: .75rem;
@contentName: 1.875rem;

@otherText: .875rem;

@patchToIcon: "../img/";