.header-top{
	height: 47px;
	background: url(../img/content-bg.png) repeat-x top left;
		.top-social{
			display: flex;
			justify-content: flex-end;

			a{
				margin: 15px 9px;
				&:last-child{
				margin-right: 0px;
				}
				span{
					display: block;
				}
			}
			.twitter{
				.sprite(@top-twitter);
			}
			.facebook{
				.sprite(@top-facebook);
			}
			.dribbble{
				.sprite(@top-dribbble);
			}
			.rss{
				.sprite(@top-rss);
			}
		}
}
	.header-menu{
	height: 56px;
	background: url(../img/bg.png) repeat top left;
	position: relative;
	box-shadow: 0 5px 8px rgba(0 ,0, 0, .75);
	.wrapper{
		display: flex;
		height: 100%;
		align-items: center;
	}
	.logo{
		padding-top: 2px;
		.col-2();
	}
	nav{
		.col-4();
		.col-md-4();
		.col-sm-4();
		flex-basis: 100%;
		ul{
			display: flex;
			justify-content: flex-end;
			text-transform: uppercase;
			font-family: @meny-ff;
			font-size: @menu;
			font-weight: 600;
			padding-top: 2px;
			letter-spacing: .4px;
			.col-4();
			.offset-left(8);
			.col-sm-9();
			.offset-left-sm(3);
			li{
				&:last-child>a{
					margin-right: 1px;
				}
			}
			a{
				margin: 20px 13px;
				&:hover{
					color: @activeColor;
				}
			}
		}
	}
}
.header-bg{
	height: 151px;
	background: url(../img/header-bg.png) no-repeat top center;
	background-size: 100%;
}