@import 'import/reset';
@import 'import/fonts';
@import 'import/_setting';
@import 'import/_mixins';
body{
 font-family: @regular-fontFamily, sans-serif;
}

.container{
	width: 320px;
	margin: 0 auto;
	@media screen and (min-width: @phone-width){
		width: @phone-width;
	}
	@media screen and (min-width: @tablet-width){
		width: @tablet-width;
	}
	@media screen and (min-width: @full-width){
		width: @full-width;
	}
}







@import 'import/header';